body {
  margin: 0;
  text-align: center;
  padding: 0;
  font: normal 12px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e6e6e6;
  color: #444;
}

ul, li, form, input, dt, dl, dd, ol, div, p, 
blockquote, h1, h2, h3, h4, h5, h6, a, pre,
code {
  margin: 0;
  padding: 0;
}

a { color: #333; text-decoration: none;}

h4 {margin-top: 10px;}
h3 {margin: 20px 0 10px 0; border-bottom: 1px solid #ccc;}
.red {background: #c00; color: #fff;}
/* @group Structure */
#container {
  border-top: 8px solid #00070C;
}

#content {
  width: 800px;
  padding: 0 10px;
  margin: 40px auto 20px auto;
  text-align: left;
}

#header {
  text-indent: -9999px;
}

#intro {
  font-weight: normal;
  font-size: 200%;
  line-height: 120%;
  text-align: center;
  color: #555;
  text-shadow: 2px 2px #f7f7f7;
}

#intro span {
  display: block;
  color: #258;
}


/* @end */


/* @group Screens */
#screens {
  margin-top: 40px;
}

#sshots {
  list-style: none;
}

#sshots li {
  position: relative;
  height: 220px;
}

.sshot {
  padding: 5px;
  background-color: #fff;
  border: 1px solid #bbb;
}

#sshots .screen{
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #bbb;
}

#sshots h2 {
  font-weight: normal;
  font-size: 170%;
  color: #270;
  margin-left: 260px;
  margin-bottom: 5px;
}

#sshots p {
  margin-left: 260px;
  font-size: 150%;
  line-height: 130%;
}


/* @end */

/* @group Footer */
#footer {
  background: #00070C;
  clear: both;
  padding: 20px;
  height: 50px;
  color: #6e8698;
  font-size: 11px;
  text-align: left;
}

#footer a {
  color: #fff;
}
#ftr-cnt {
  width: 758px;
  margin: 0 auto;
}

#ftr-lh {
  float: left;
  width: 50%;
}

#ftr-lh p {
  display: block;
  border-bottom: 1px dotted #002139;
  padding-bottom: 5px;
}

#ftr-lh ul {
  list-style: none;
  margin-top: 5px;
}

#ftr-lh li {
  display: inline;
  margin-right: 10px;
}

#ftr-lh li a {
  border-bottom: 1px solid #002139;
}

li#ar-logo a {
  border: none;
}

#ar-logo a img {
  vertical-align: middle;
}

#ftr-ey {
  margin-left: 55%;
  text-align: right;
}

#ftr-ey p {
}

#ey-logo {
  float: right;
  margin-left: 5px;
}



/* @end */



