<div id="installer">
  <h1 id="splash">Install Warehouse</h1>
  <div class="overlay-content">
    <h2>Thanks for installing Warehouse, enjoy!</h2>
    
    <div class="overlay-form oform">
      <p style="line-height:140%">
        You're setup and ready to go.  We're now syncing <%= pluralize @repository.latest_revision, 'revision' %> of the <%=h @repository.name %> repo.
        This will import your repositories revision data into the Warehouse database, and may take a few minutes.  You can jump to
        to <%= link_to 'your repository', root_url(:host => "#{@repository.subdomain}.#{Warehouse.domain}") %> at any time and continue
        this process in the Repository admin.
      </p>
    
      <p>
        <label for="progress">Install progress</label>
        <span id="import-progress"><span class="pbar"><span class="pbar-initial">0</span>/<span class="pbar-total"><%= @repository.latest_revision || 70 %></span></span></span>
      </p>
    </div>
  </div>
</div>

<% content_for :onready do -%>
var Importer = {
  step: function(progress) {
    if(progress < 100) {
      new Ajax.Request('/install', {
        method: 'get',
        params: { progress: progress },
        onComplete: function(transport) {
          var prog = transport.responseText;
          Importer.step(prog);
        }
      });
    } else {
      console.log('done');
    }
  }
}
Importer.step(0);
// ProgressBar.mark('import-progress', 9);
<% end -%>