<div id="installer">
  <h1 id="splash">Install Warehouse</h1>
  <div class="overlay-content">
    <h2>Thanks for installing Warehouse, enjoy!</h2>
    <%= error_messages_for :repository %>
    <% form_for :user, :url => install_path do |f| %>
      <div class="overlay-form oform">
        <p style="margin:5px 0">You're almost ready! Just add your OpenID and begin importing your repository.</p>
        <p><%= link_to "http://#{admin_url(:host => "#{@repository.subdomain}.#{Warehouse.domain}")}", admin_url(:host => "#{@repository.subdomain}.#{Warehouse.domain}")%></p>
        <p>
          <label for="openid_url">OpenID Url</label>
          <%= f.text_field :openid_url %>
        </p>
        <p>
          <label for="progress">Install progress</label>
          <span id="import-progress">0%</span>
        </p>
      </div>
        <p class="btns">
          <%= submit_image 'install.png' %>
        </p>
      <% end %>
  </div>
</div>