<li id="<%= dom_id bookmark %>">
  <% if admin? %><a class="trash list-del" href="#">Delete</a><% end %>
  <%= link_to h(bookmark.label), browser_path(:paths => bookmark.paths), :title => h(bookmark.description) %>
</li>