<div id="last-log">
  <span class="change-number">234</span>
  <div id="change-body">
    <p>This was my last changeset message...</p>
  </div>
</div>

<table id="browser" cellspacing="0" cellpadding="0">
  <tr>
    <th>File name</th>
    <th>Revision</th>
  </tr>
  <tr>
    <td><a href="#" class="folder">trunk</a></td>
    <td>
      Updated by rick 10 minutes ago
      <span class="log">Made some swanky changes...</span>
    </td>
  </tr>
  <tr>
    <td><a href="#" class="folder">acts_as_authenticated</a></td>
    <td>
      Updated by rick 10 minutes ago
      <span class="log">Made some swanky changes...</span>
    </td>
  </tr>
  <tr>
    <td><a href="#" class="folder">csrf_killer</a></td>
    <td>
      Updated by rick 10 minutes ago
      <span class="log">Made some swanky changes...</span>
    </td>
  </tr>
  <tr>
    <td><a href="#" class="folder">acts_as_paranoid</a></td>
    <td>
      Updated by rick 10 minutes ago
      <span class="log">Made some swanky changes...</span>
    </td>
  </tr>
</table>