<h2>Reset</h2>

<% form_tag reset_path(params[:token]) do -%>
  <p>
    <label for="openid_url">OpenID:</label>
    <%= text_field_tag :openid_url %>
  </p>
  
  <p>
    <%= submit_tag 'Log in', :disable_with => 'Logging in...' %>
  </p>
<% end -%>