  <%= form.text_field 'Name:', :name %>
  <p><label for="repository_short_name">Short Name:</label><%=Warehouse.domain %><%= text_field_tag('short_name', form.object.subdomain) %></p>
  <%= form.check_box  'Public:', 'Yes, the public can browse this repository.', :public %>
