<p>
  <label for="repository_name">Name:</label>
  <%= form.text_field :name %>
</p>
<p>
  <label for="repository_path">Path:</label>
  <%= form.text_field :path %>
</p>
<p style="border-bottom:0">
  <label for="repository_subdomain">Subdomain:</label>
  <%= form.text_field :subdomain %>
</p>