/* @override http://svn.mymac.com:3000/stylesheets/installer.css */
body {
  background: url(../images/app/install/rock-tile.gif);
}

#content {
  width: 500px;
}

#main {
  float: none;
  padding: 0;
}

#installer {
  width: 400px;
  margin: 100px auto 0 auto;
}

#installer h2 {
  margin: 0;
  padding: 0;
  line-height: 100%;
  text-indent: -9999px;
  height: 20px;
  background: url(../images/app/sheet-top.png) no-repeat;
  border: none;
}

#installer h1 {
  background: url(../images/app/install/splash.png)  no-repeat;
  height: 88px;
  text-indent: -9999px;
  margin-bottom: 20px;
}

#installer form div.overlay-form {
  padding: 10px;
}

#installer .help, #finaldomain {
  display: block;
  font-size: 92%;
  line-height: 140%;
  color: #777;
  text-shadow: none;
  font-weight: normal;
  padding: 5px 0;
}

#installer label {
  font-size: 110%;
  display: block;
  font-weight: bold;
  text-shadow: 2px 2px #fff;
}

/* errors */
#installer #errorExplanation {
  margin: 0 10px 0 0px;
  border-left: 0;
  border-right: 0;
  margin-right: 8px;
}

#installer #errorExplanation h2 {
  margin: 0;
  padding: 0;
  background: none;
  text-indent: 0;
}

#installer #errorExplanation ul, div#error p {
  line-height: 140%;
  margin-left: 20px;
  font-weight: bold;
  color: #c00;
}

div#error p {
  margin-left: 0;
}

#finaldomain {
  font-size: 100%;
}

#finaldomain span {
  font-weight: bold;
}

#import-progress {
  margin: 0 0 5px 0;
  font-weight: bold;
  color: #555;
  display: block;
  border: 1px solid #aaa;
  padding: 4px;
  width: 300px;
  text-align: center;
  background: #fff;
}
