/* @override http://localhost:3000/stylesheets/main.css */
html {
  margin: 0 0 1px 0; /* force FF to show scrollbar to prevent page jumping */
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  padding: 0;
  font: normal 12px/1.5em "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
  background: #ebebeb;
  color: #333;
  min-width: 900px;
}

/* @group Utilities */

.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

a {
  outline: none;
}

a { outline: none; }
a:link, a:visited {  color: #07b; text-decoration: none; }

a:hover {
  color: #d30;
}

ul, li, form, input, dt, dl, dd, ol, div, p, 
blockquote, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* @end */


/* @group Structure */
#header {
  background: #232C30;
  margin: 0;
  text-align: left;
  padding: 10px;
  position: relative;
}

#content {
  width: 900px;
  margin:  auto;
  text-align: left;
}

#main {
  float: left;
  padding: 20px;
  width: 540px;
}

#sbar {
  background: url(../images/app/sbar-bg.png) no-repeat;
  margin-left: 600px;
  padding: 20px;
  min-height: 500px;
}
/* @end */



/* @group Header */

#hdr-cnt {
  width: 860px;
  margin: 0 auto;
  padding: 0 20px;
}

#header h1 a {
  color: #fff;
  text-decoration: none;
}

/* @end */

/* @group Sidebar */

#bookmarks ul {
  list-style: none;
}

#bookmarks li {
  padding: 10px 5px 10px 40px;
  background: url(../images/app/icons/box.png) 0 50% no-repeat;
  border-bottom: 1px solid #bbb;
}

#bookmarks ul li a {
  color: #333;
}

#bookmarks h4 {
  font-size: 120%;
  display: block;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

span.active {
  color: #777 !important;
  font-size: 92%;
}

/* @end */

/* @group Dashboard */
#last-log {
  padding: 10px;
  padding-left: 50px;
  background: #f7f7f7 url(../images/app/icons/terminal.png) 5px 50% no-repeat;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  border-right-color: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 120%;
  font-weight: bold;
}

.change-number a {
  font-size: 200%;
  font-weight: bold;
  color: green;
  display: block;
  float: left;
  padding-right: 10px;
}

/* @end */

/* @group Browser */

#browser {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-top: none;
}

#browser th, #browser td {
  padding: 5px 10px;
}

#browser th {
  border-left: 1px solid #ddd;
  text-align: left;
  background: #f7f7f7;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

#browser td {
  background: #eee;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ddd;
}

tr#controls td {
  padding: 0;
  height: 20px;
  border-top: 1px solid #f7f7f7;
  background: #eee url(../images/app/controls-bg.png) bottom left repeat-x;
}

div.control-head {
  margin: 0;
  padding: 0 0 0 40px;
  position: relative;
}

p.controlblock {
  position: absolute;
  top: 1px;
  left: 5px;
}

a.forward, a.back {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url(../images/app/icons/forward.png) no-repeat;
}

a.back {
  left: 0;
  top: 0;
  background: url(../images/app/icons/back.png) no-repeat;
}

a.forward {
  left: 16px;
  top: 0;
}

#browser td a {
  font-weight: bold;
}

.file, .folder, .script, .txt {
  padding: 2px 0;
  padding-left: 25px;
}

a.folder {
  background: url(../images/app/icons/folder-small.png) 0 50% no-repeat;
}

a.script {
  background: url(../images/app/icons/script-small.png) 0 50% no-repeat;
}

a.txt, a.file {
  background: url(../images/app/icons/text-small.png) 0 50% no-repeat;
}

td span.log {
  font-size: 92%;
  display: block;
  color: #888;
}

.rev {
  line-height: 100%;
  float: right;
  background: #f7f7f7;
  padding: 3px;
  border: 1px solid #fff;
  color: #666;
  font-size: 92%;
  -moz-border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.changed {
  background-color: #7b0;
  color: #fff;
}

/* @end */

/* @group Changesets */

.message {
  float: right;
  font-size: 82%;
  color: #777;
  padding-left: 20px;
}



/* @end */

