/* @override http://localhost:3000/stylesheets/main.css */
html {
  margin: 0 0 1px 0; /* force FF to show scrollbar to prevent page jumping */
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  padding: 0;
  font: normal 12px/1.5em "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
  background: #ebebeb;
  color: #333;
  min-width: 900px;
}

/* @group Utilities */

.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

a {
  outline: none;
}

a { outline: none; }
a:link, a:visited {  color: #07b; text-decoration: none; }

a:hover {
  color: #d30;
}

ul, li, form, input, dt, dl, dd, ol, div, p, 
blockquote, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h2 {
  background: #f4f4f4;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

div.errorExplanation {
  padding: 10px 10px 10px 50px;
  margin: 20px 0;
  background: #fee url(../images/app/icons/no.png) 5px 5px no-repeat;
  border: 1px solid #faa;
  color: #333;
}

div.errorExplanation ul {
  list-style: none;
  margin: 5px 0;
}

div.errorExplanation h2 {
  background: transparent;
  border: 0;
  padding: 0;
}

/* @end */


/* @group Structure */
#header {
  background: #232C30;
  margin: 0;
  text-align: left;
  padding: 10px;
  position: relative;
}

#content {
  width: 1000px;
  margin:  0 auto;
  text-align: left;
  padding-bottom: 40px;
}

#main {
  float: left;
  padding: 20px;
  width: 680px;
}

#sbar {
  background: url(../images/app/sbar-bg.png) no-repeat;
  margin-left: 740px;
  padding: 20px;
  min-height: 500px;
}

#footer {
  position: fixed;
  bottom: 0;
  background: #ddd;
  width: 100%;
  padding: 10px;
  font-size: 92%;
}
/* @end */



/* @group Header */

#hdr-cnt {
  position: relative;
  width: 860px;
  margin: 0 auto;
  padding: 0 20px;
}

#header h1 a {
  color: #fff;
  text-decoration: none;
}

#nav {
  position: absolute;
  top: 3px;
  left: 162px;
  list-style: none;
}

#nav li {
  display: inline;
}

#nav li a {
  border-top: 1px solid #fff;
  background: #eee;
  color: #333;
  font-size: 92%;
  font-weight: bold;
  margin-right: 5px;
  padding: 3px 20px;
  padding-left: 25px;
  display: block;
  float: left;
}

#nav li a:hover {
  background-color: #ddd;
  color: #222;
}

li#code a {
  background: #eee url(../images/app/icons/code.png) 5px 50% no-repeat;
}

li#activity a {
  background: #eee url(../images/app/icons/activity.png) 5px 50% no-repeat;
}

li#login a {
  background: #eee url(../images/app/icons/login.png) 5px 50% no-repeat;
}

li#logout a {
  background: #eee url(../images/app/icons/logout.png) 5px 50% no-repeat;
}

li#admin a {
  background: #eee url(../images/app/icons/admin.png) 5px 50% no-repeat;
}

#login-form {
  position: absolute;
  background: #333;
  padding: 20px;
  z-index: 9999;
  top: 50px;
  left: 30%;
  border: 2px solid #fff;
}

#login-form label {
  font-weight: bold;
  color: #fff;
}

#login-form input {
  border: 1px dotted #ccc;
}

.btn {
  border: 1px solid #fff;
  background: #ddd;
}

.block {
  margin: 0 0 20px 0;
  padding: 10px;
  background: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.block h3 a {
  color: #333;
  text-shadow: 2px 2px #f7f7f7;
}

/* @end */

/* @group Sidebar */

#bookmarks ul {
  list-style: none;
}

#bookmarks li {
  padding: 10px 5px 10px 40px;
  background: url(../images/app/icons/box.png) 0 50% no-repeat;
  border-bottom: 1px solid #bbb;
}

#bookmarks ul li a {
  color: #333;
}

#bookmarks h4 {
  font-size: 120%;
  display: block;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

span.active {
  color: #777 !important;
  font-size: 92%;
}

/* @end */

/* @group Dashboard */


/* @end */

/* @group Browser */

#browser, .diff {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-top: none;
}

#browser th, #browser td {
  padding: 5px 10px;
}

#browser th, .diff th {
  border-left: 1px solid #ddd;
  text-align: left;
  background: #f7f7f7;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

#browser td {
  background: #eee;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ddd;
}

tr#controls td, tr.controls td {
  padding: 0;
  height: 20px;
  border-top: 1px solid #f7f7f7;
  background: #eee url(../images/app/controls-bg.png) bottom left repeat-x;
}

div.control-head {
  margin: 0;
  padding: 0 0 0 40px;
  position: relative;
  height: 16px;
}

p.controlblock {
  position: absolute;
  top: 0;
  left: 5px;
  height: 16px;
  width: 50px;
}

a.forward, a.back {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url(../images/app/icons/forward.png) no-repeat;
}

a.back {
  left: 0;
  top: 0;
  background: url(../images/app/icons/back.png) no-repeat;
}

a.forward {
  left: 16px;
  top: 0;
}

#browser td a {
  font-weight: bold;
}

td.item a {
  display: block;
  padding: 8px 5px 8px 25px;
}

.file, .folder, .script, .txt {
  padding: 2px 0;
  padding-left: 25px;
}

a.folder {
  background: url(../images/app/icons/folder-small.png) 0 50% no-repeat;
}

a.script {
  background: url(../images/app/icons/script-small.png) 0 50% no-repeat;
}

a.txt, a.file {
  background: url(../images/app/icons/text-small.png) 0 50% no-repeat;
}

td span.log, #repos span.log {
  font-size: 92%;
  display: block;
  color: #888;
}

.rev {
  line-height: 100%;
  float: right;
  background: #f7f7f7;
  padding: 3px;
  border: 1px solid #fff;
  color: #666;
  font-size: 92%;
  -moz-border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.changed {
  background-color: #7b0;
  color: #fff;
}

div#crumbs {
  margin-bottom: 10px;
  height: 20px;
}

div#crumbs ul  {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 100%;
  background: url(../images/app/crumbs-start.gif) no-repeat;
  padding-left: 13px;
}

#crumbs li {
  display: block;
  margin: 0;
  padding: 0;
  background: url(../images/app/crumb-bg.png) repeat-x;
  float: left;
}

#crumbs li a {
  text-shadow: 2px 2px #fff;
  background: url(../images/app/crumb-divide.gif) top right no-repeat;
  display: block;
  color: #555;
  font-size: 92%;
  padding: 4px 15px 7px 5px;
  font-weight: bold;
}

#crumbs li a:hover {
  color: #000;
}

li.crumb-divide-last a {
  background: url(../images/app/crumb-divide-last.gif) top right no-repeat !important;
}

#crumbs li#current {
 color: #fff;
 font-size: 92%;
 float: left;
 text-shadow: 2px 2px #777;
 background: url(../images/app/crumb-current.gif) repeat-x;
 padding: 4px 10px 7px 10px;
 border-right: 1px solid #999;
 font-weight: bold;
}

/* @end */

/* @group Changesets */

#last-log {
  padding: 10px;
  padding-left: 50px;
  padding-right: 70px;
  background: #f7f7f7 url(../images/app/icons/terminal.png) 5px 3px no-repeat;  
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  border-right-color: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 120%;
  font-weight: bold;
  position: relative;
}

#last-log .change-number {
  font-size: 180%;
}

.time {
  font-size: 82%;
  color: #777;
}

#changesets {
  list-style: none;
}

ul.changeset-nav {
  list-style: none;
  position: absolute;
  top: 3px;
  width: 32px;
  right: 8px;
  height: 16px;
}

li.next a, li.prev a {
  position: absolute;
  display: block;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  left: 20px;
  top: 0;
  background: url(../images/app/icons/forward.png) no-repeat;
}

li.prev a {
  left: 0;
  top: 0;
  background: url(../images/app/icons/back.png) no-repeat;
}

.changeset, .repo, .form, .permission {
  padding: 10px;
  padding-left: 50px;
  background: #f7f7f7 url(../images/app/icons/terminal.png) 5px 3px no-repeat;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  border-right-color: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 120%;
  font-weight: bold;
}

.change-number a {
  font-size: 120%;
  font-weight: bold;
  color: green;
  display: block;
  float: left;
  padding-right: 10px;
  margin-bottom: 5px;
}

.changeset .author {
  color: #555;
}

#change-list {
  list-style: none;
  margin-bottom: 20px;
  margin-right: 240px;
}

#change-list li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.viewdiff {
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
  text-indent: -999px;
  width: 14px;
  height: 14px;
  background: url(../images/app/icons/view-tiny.png) 0 50% no-repeat;
}

#change-list .shade {
  background: #eee;
}

span.a, .m, .d, .mv, .cp {
  background: #7b0;
  color: #fff;
  font-size: 82%;
  border: 1px solid #fff;
  line-height: 100%;
  padding: 2px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

span.m {
  background-color: #06b;
}

span.mv {
  color: #540;
  background: #ca0;
}

span.d {
  background: #c00;
}

span.cp {
  background:#ccc;
  color: #333;
}

#control-center {
  float: right;
  background: #f1f1f1;
  padding: 5px;
  margin: 0 0 10px 10px;
  width: 200px;
  border: 1px solid #ccc;
}

#control-center ul {
  list-style: none;
}

#control-center li {
  border-bottom: 1px dotted #ccc;
  display: block;
  padding: 2px;
  font-size: 92%;
}

#control-center label {
  font-weight: bold;
  color: #555;
}

#control-center li a {
  display: block;
  padding: 2px;
  padding-left: 20px;
}

div.control {
  position: relative;
}

a.csdiff {
  position: absolute;
  right: 5px;
  top: 1px;
  background: url(../images/app/icons/diff.png) 0 2px no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  border: none !important;
}

#cdiff a {
  background: url(../images/app/icons/diff.png) 0 2px no-repeat;
}

.csfile a {
  font-size: 92%;
  font-weight: bold;
  color: #333;
  text-shadow: 2px 2px #eee;
  display: block;
  padding-left: 20px;
  background: url(../images/app/icons/arrow-small.png) 0 50% no-repeat;
}

.csfile a:hover {
  color: #000;
}

/* @end */

/* @group Diff and History */

div.diff-table {
  margin-bottom: 20px;
  clear: right;
  overflow: auto;
  padding: 1px;
}

.diff {
  font-family: Courier, Monaco, monospace !important;
  overflow: auto;
  width: 100%;
}

.diff td {
  background: #eee;
}

.diff td pre {
  padding: 0;
  margin: 0;
}

.diff th.csnum, .ln {
  white-space: no-wrap;
  width: 1px;
  text-align: center;
}

.ln {
  background: #e2e2e2 !important;
  font-size: 92%;
  border-right: 1px solid #ccc;
  font-family: "Helvetica", Arial, sans-serif;
  border-bottom: 1px dotted #ccc;
}

.diff tr.controls td {
  padding: 5px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.diff tbody td {
  background: #f1f1f1;
}

.diff td.insert {
  background: #dfd;
  color: #030;
  border-right: 1px solid #4C4;
  border-left: 1px solid #4C4 !important;
}

.diff td.delete {
  background: #fdd;
  color: #900;
  border-right: 1px solid #d99;
}

p.formats {
  float: right;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  line-height: 100%
}

table.sourcecode {
  width: 900px !important;
}

div.viewsource {
  width: 900px !important;
  overflow: auto;
  padding: 10px;
  background-color: #111;
}

td.viewsource pre {
  overflow: scroll;
}

.history {
  position: relative;
}

.file-history {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url(../images/app/icons/history-small.png) 0 50%;
}

/* @end */

/* @group Admin */

#admin-nav {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 2px solid #aaa;
  line-height: 100%;
}

#admin-nav li {
  display: block;
  float: left;
}

#admin-nav li a {
  padding: 5px 10px;
  background: #ddd;
  margin-right: 5px;
  display: block;
  border-top: 1px solid #fff;
  font-weight: bold;
  color: #333;
  font-size: 92%;
  border-right: 1px solid #f1f1f1;
}

#admin-nav li a:hover {
  background: #f7f7f7;
  border-top: 1px solid #fff;
}

#repos, #permissions {
  list-style: none;
}

li.repo, li.permission {
  position: relative;
  background: #f7f7f7 url(../images/app/icons/repository.png) 3px 10px no-repeat;
  padding: 10px 45px;
}

li.permission {
  
}

#repos span.log {
  font-size: 92%;
  font-weight: normal;
}

ul.admin-controls {
  list-style: none;
  position: absolute;
  right: 42px;
  top: 5px;
  height: 16px;
}

.edit, .del{
  position: absolute;
  left: 0;
  top: 0;
}

.del {
  left: 20px;
}

.edit a, .del a {
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url(../images/app/icons/edit.png) 0 50% no-repeat;
}

.del a {
  background: url(../images/app/icons/delete.png) 0 50% no-repeat;
}

.repoedit, .form {
  margin-top:  -12px;
  background: #f1f1f1 !important;
  padding: 0 !important;
}

div.form {
  margin: 0 0 20px 0 !important;
  padding: 0 !important;
  background: #f7f7f7 !important;
}

.form h3, .block h3 {
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #aaa;
  background: #eee url(../images/app/controls-bg.png) bottom left repeat-x;
  padding: 5px;
  color: #333;
}

.repoedit p, .form p {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 92%;
  color: #555;
  margin: 0 5px;
}

.repoedit label, .form label {
  text-align: right;
  padding-right: 5px;
  display: block;
  width: 100px;
  font-size: 92%;
  white-space: nowrap;
  float: left;
  color: #333;
}

form input, select {
  padding: 2px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

p.btns input {
  border: 1px solid #888;
  color: #fff;
  background: #aaa;
}

p.btns {
  text-align: right;
  border-bottom: 0;
  margin: 0;
  background: #f2f2f2;
  border-top: 1px solid #ddd;
}

#svn-paths {
  margin: 0;
  padding: 0;
}

#svn-paths dt {
  padding: 5px;
  background: #eee;
  display: block;
  text-align: left;
  font-size: 82%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ddd;
}

#svn-paths dd {
  margin-left: 10px;
  padding: 5px;
  position: relative;
  font-size: 92%;
  border-bottom: 1px dotted #ddd;
}

a.addpath {
  display: block;
  position: absolute;
  top: 5px;
  left: 395px;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url(../images/app/icons/plus-small.png) 0 50% no-repeat;
}

input.path {
  width: 200px;
}

.sel {
  width: 150px;
}

/* My Comment */

.pagination {
  padding: 3px;
  margin: 10px auto;
}

.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  color: #555;
}

.pagination a:hover, .pagination a:active {
  border: 1px solid #aaa;
  color: #111;
}

.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #FFAB92;
  font-weight: bold;
  background-color: #FFE1D8;
  color: #d30;
}

.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #aaa;
}


/* @end */

/* @group Users */

#users {
  list-style: none;
}

/* @end */

