<%= render :partial => '/admin/tabs' %>
<ul id="users">
  <% @users.each do |user| %>
  <li class="user block">
    <%= link_to h(user.name), user_path(user) %>
    <ul class="perms">
      <% user.permissions.each do |permission| %>
        <li><%= permission.path %></li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>