body {
  margin: 0;
  text-align: center;
  padding: 0;
  font: normal 12px/1.5em "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/rock-tile.gif);
  color: #fff;
}

ul, li, form, input, dt, dl, dd, ol, div, p, 
blockquote, h1, h2, h3, h4, h5, h6, a, pre,
code {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

#container {
  width: 900px;
  margin: 0 auto;
  text-align: left;
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

/* @group nav */
#nav {
  margin: 20px auto 0 auto;
  background: url(../images/navleft.png) no-repeat;
  position: relative;
}

#nav ul {
  height: 56px;
  margin-left: 9px;
  background: url(../images/navright.png) no-repeat;
}

#nav li a {
  padding: 16px 0;
  float: left;
  width: 160px;
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
}

#nav li a:hover {
  background-position: 0 -56px;
}

#nav li#btn-interface a {
  background-image: url(../images/binterface-btn.png);
}

li#buynow a {
  position: absolute;
  background: url(../images/buynow-btn.png) no-repeat;
  right: 22px;
  top: 0;
  padding-bottom: 20px;
}



/* @end */

/* @group Main */
#main {
  background: url(../images/drakrock-tile.png);
  margin: 20px 26px 0 0;
}

#main h2 {
  background: url(../images/maintop.png) no-repeat;
  padding: 16px;
  font-weight: normal;
  color: #eee;
  font-size: 120%;
  text-align: center;
}

#mainbtm {
  background: url(../images/mainbtm.png) bottom left no-repeat;
  height: 9px;
  margin-right: 26px;
  margin-bottom: 20px;
}

#movies {
  margin-top: 5px;
}

#choices {
  float: left;
  width: 320px;
  font-size: 120%;
}

#choices ul li {
  font-weight: bold;
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

#choices li a {
  font-size: 92%;
  display: block;
  background: url(../images/icons/quicktime.png) no-repeat;
  padding-left: 42px;
}

.subttl {
  font-size: 82%;
  display: block;
  font-weight: normal;
  color: #999;
}

p.important {
  font-size: 82%;
  font-weight: bold;
  padding: 10px;
  color: #fff;
}

object, embed, param {
  margin: 0 !important;
  padding: 0 !important;
  background: #444;
}

#video {
  height: 290px;
  background: url(../images/movie.png) no-repeat;
  margin-left: 350px;
  margin-right: 10px;
  border: 3px solid #333;
}

#video object, #video embed {
  background: #333;
  display: block;
  border-bottom: 2px solid #222;
  border-right: 2px solid #222;
}



/* @end */

/* @group Secondary Content */
#scontent {
  margin-top: 20px;
  padding: 10px;
  position: relative;
}

.icon {
  float: left;
  margin: 5px 5px 0 0;
}

#sbar {
  position: absolute;
  left: 10;
  top: 0;
  width: 320px;
}

#focuscontent {
  margin-left: 340px;
}

div.block {
  margin-bottom: 40px;
}

div.block p {
  color: #ccc;
}

div.block h3 {
  margin: 0 0 5px 50px;
}




/* @end */

/* @group Sideblock */
#gallery img, #gallery a {
  margin: 0;
  padding: 0;
}

#gallery ul li {
 margin: 0 10px 0 0;
 padding: 0;
 float: left;
}

#gallery li img {
  width: 140px;
  height: 110px;
  padding: 2px;
  border: 2px solid #333;
  border-left: none;
  border-top: none;
  background: #fff;
}

#sbar blockquote {
  font-style: italic;
  font-weight: bold;
}

ul#quotes {
  clear: left;
  margin-top: 20px;
}

#sbar blockquote p {
  font-weight: normal;
  color: #ccc;
}

/* @end */

/* @group Footer */
#footer {
  margin: 0 5px;
  border-top: 1px dotted #555;
  font-size: 92%;
  color: #888;
}

#footer h3 {
  font-size: 100%;
  color: #ccc;
}

#foot-left, #foot-mid {
  border-right: 1px solid #444;
}

#foot-left, #foot-mid, #foot-right {
  float: left;
  width: 31%;
  padding: 10px;
}

#footer .icon {
  float: right;
  margin-bottom: 20px;
}


/* @end */



