<% permissions = [] unless defined?(permissions) -%>

<% if form.object.nil? || form.object.new_record? || !form.object.user_id.blank? -%>
<p>
  <label for="login">SVN Login:</label>
  <%= form.text_field :login %>
</p>
<% end -%>
<p style="border-bottom:0">
  <label>Administrator?</label>
    <%= form.check_box :admin %> Yes, this user can add and delete members.
</p>
<div id="svn-paths">
  <% if (form.object && form.object.new_record?) || permissions.blank? -%>
    <% (params[:permission][:paths].size rescue 1).times do -%>
      <%= path_permissions %>
    <% end -%>
  <% else -%>
    <% permissions.each do |permission| -%>
      <%= path_permissions(permission) %>
    <% end -%>
  <% end -%>
</div>