<p>
  <label for="login">SVN Login:</label>
  <%= form.text_field :login %>
</p>
<p style="border-bottom:0">
  <label>Administrator?</label> 
   <%= form.check_box :admin %> Yes, this user can add and delete members.
</p>
<dl id="svn-paths">
  <dt>This member can access the following paths (relative to repository root)</dt>
  <dd>
    <select name="full_access">
      <option value="0">Read access</option>
      <option value="1">Read and write access</option>
    </select> to 
    <%= form.text_field :path %>
  </dd>
  <dd>
    <select name="full_access">
      <option value="0">Read access</option>
      <option value="1">Read and write access</option>
    </select> to 
    <%= form.text_field :path %>
  </dd>
</dl>