<%= render :partial => '/admin/tabs' %>
<h2>Gallery of pictures in your repository</h2>
<ul id="pictures">
  <li><img src="/images/browser-small.png" /></li>
  <li><img src="/images/browser-small.png" /></li>
  <li><img src="/images/browser-small.png" /></li>
  <li><img src="/images/browser-small.png" /></li>
  <li><img src="/images/browser-small.png" /></li>
  <li><img src="/images/browser-small.png" /></li>
  <li><img src="/images/browser-small.png" /></li>
  <li><img src="/images/browser-small.png" /></li>
  <li><img src="/images/browser-small.png" /></li>
  <li><img src="/images/browser-small.png" /></li>
  <li><img src="/images/browser-small.png" /></li>
  <li><img src="/images/browser-small.png" /></li>
</ul>