<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Some Application</title>
    <%= stylesheet_link_tag 'main' %>
  </head>
  <body>
    <!-- container -->
    <div id="container">
      <!-- header -->
      <div id="header">
        <h1><a href="#">MyStash</a></h1>
      </div>
      <!-- /header -->
      <!-- content -->
      <div id="content">
        <!-- main -->
        <div id="main">
          <h2>Main area</h2>
        </div>
        <!-- /main -->
        
        <!-- sbar -->
        <div id="sbar">
          <h2>Sidebar</h2>
        </div>
        <!-- /sbar -->
      </div>
      <!-- /content -->
    </div>
    <!-- /container -->
    
  </body>
</html>