<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Warehouse</title>
    <%= stylesheet_link_tag 'main' %>
  </head>
  <body>
    <!-- container -->
    <div id="container">
      <!-- header -->
      <div id="header">
        <div id="hdr-cnt">
          <h1><a href="#">Warehouse</a></h1>
        </div>
      </div>
      <!-- /header -->
      <!-- content -->
      <div id="content">
        <!-- main -->
        <div id="main">
          <%= yield %>
        </div>
        <!-- /main -->
        
        <!-- sbar -->
        <div id="sbar">
          <div id="bookmarks">
            <ul>
              <li>
                <h4><a href="#" title="">Attachment Fu</a></h4>
                <span class="active">Last active 5 days ago</span>
              </li>
              <li>
                <h4><a href="#" title="">Attachment Fu</a></h4>
                <span class="active">Last active 5 days ago</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- /sbar -->
      </div>
      <!-- /content -->
    </div>
    <!-- /container -->
    
  </body>
</html>