<div id="error">
  <h2>An error occurred</h2>
  <p><%= @message %></p>

  <p>Warehouse.domain: <%=h Warehouse.domain %></p>
  <p>Sub Host: <%=h request.host %></p>
  <p>Host: <%=h request.host.gsub(/^\w+\./, '') %></p>
</div>

