      <p>
        <label for="login">SVN Login:</label>
        <%= form.text_field :login %>
      </p>
      <p>
        <label for="path">SVN Path:</label>
        <%= form.text_field :path %>
      </p>
      <p>
        <label>Full Access?: <%= form.check_box :full_access %></label>
      </p>
      <p>
        <label>Repository Admin?: <%= form.check_box :admin %></label>
      </p>